.product-scroll-container{
  margin: 20px;
}
.product-scroll-image{
  object-fit: contain;
  width: 100%;
  max-width: 200px;
}
/* .product-scroll-image-container{
 display:flex; 
} */
.product-scroll-images{
    display: flex;
    overflow-x: scroll;

    
    /* justify-content: space-evenly; */
}
.product-image-container{
  padding: 20px;
  background-color: #fff;
}
.product-scroll-text{
    display: flex;
    padding: 0px 20px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 400;
    align-items: center;
}

.product-scroll-text>a{
  text-decoration: none;
  font-size: 14px;
  color: blue;
}
.product-scroll-text>a:hover{
  text-decoration: underline;
  text-decoration-color: rgb(199, 81, 31)  ;
  color: rgb(199, 81, 31)  ;
}
.product-scroll-images:hover{
  
}
.product-scroll-images::-webkit-scrollbar {
    height: 6px;

  }
  .product-scroll-images::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(0,0,0,0);
  
  }   
   .product-scroll-images::-webkit-scrollbar-thumb:hover {
    background-color: rgba(8, 1, 1, 0.411);

  } 

