.products_container{
    background-color: white;
    margin:10px 10px;
    padding:15px 10px;
    position: relative;
}
.product_items{
    width: 280px;
    height: 350px;
}
.product_items>div{
    font-weight: 500;
    padding: 0px 15px;
    font-size: x-large;
}
.product_line{
    display: flex;
}
.product_image_grid{
    width: 100%;
    object-fit: contain;
}

.product_text{
    color: rgba(0, 0, 0, 0.678);
    font-size: 12px;
    padding: 5px;
}
.product_footer_text{
    position: absolute;
    bottom: 20px;
}
.product_footer_text>a{
   text-decoration: none;
   font-size: 13px;
   margin-left: 20px;
   color: #007185;
}
.product_footer_text>a:hover{
    text-decoration: underline;
    color: rgb(199, 81, 31);
}